/* Spinning Image */
.spin-hover {
  transition: transform 1s;
}

.spin-hover:hover {
  transform: rotate(360deg);
}

/* Container for the main content */
.dice-container {
  width: 550px;
  margin: 20px auto;
  position: relative;
}

/* Main box with gradient background, border, and shadow */
.dice-box {
  margin: 0px auto;
  width: 100%;
  height: 250px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: black;
  background-image: linear-gradient(to right, #45260a, #969696);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
}

/* Image container */
.dice-image-container {
  width: 180px;
  height: 200px;
  margin: 15px 0 0 15px;
  padding: 5px;
}

/* Content box with blurred backdrop and shadow */
.dice-text-container {
  backdrop-filter: blur(5px);
  width: 275px;
  height: 200px;
  margin: 15px 0 0 15px;
  padding: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-image: linear-gradient(to bottom, transparent, white, transparent) 1;
  display: flex;
  align-items: top;
  justify-content: center;
  overflow-y: auto;
  font-size: 10px;
  font-family: Times New Roman;
  color: white;
  text-align: center;
}
